<!DOCTYPE html>
<html>
    <head>
        <title>Sayings</title>
        <meta charset="utf-8">
    </head>

    <body>
        <form action="/" method="post">
            <input type="text" name="toChoose">
            <input type="submit">
        </form>
        <%- chosen %>
    </body>
</html>